:root {
  --main: #12A6E0;
  --white: #ffffff;
  --custom-gren: #07E0A8;
}
body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.Container {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  margin-left: auto;
}

.PageTitle {
  margin-left: 10px;
}

.MainButton {
  background-color: var(--custom-gren) !important;
  color: white;
}

.GridButton {
  margin-right: 3px !important;
}

.HeaderBackground {
  background: '#f6f6f6' !important;
}